[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = gerrit practice
[access "refs/*"]
	owner = group user/leavatin
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/leavatin
	label-Verified = -1..+1 group user/leavatin
	push = group user/leavatin
	read = group user/leavatin
	rebase = group user/leavatin
	removeReviewer = group user/leavatin
	submit = group user/leavatin
[access "refs/heads/*"]
	create = group user/leavatin
	push = +force group user/leavatin
	pushMerge = group user/leavatin
	read = group user/leavatin
[access "refs/tags/*"]
	push = group user/leavatin
	push = +force group user/leavatin
